/* Voreinstellungen*/

:root {
    --clr-primary-50: rgb(224, 208, 174);
    --clr-primary-100: #4AAD63;
    --clr-primary-200: rgb(88, 88, 87);
    --clr-primary-300: rgb(98, 126, 56);

    --ff-primary: "Futura Std", Arial, sans-serif;
    
    --fs-xl: clamp(1.5rem, 2rem, 4rem);
    --fs-50: clamp(1.2rem,1.5vw, 2rem);
    --fs-service: clamp(1rem, 1.5vw, 3rem);
    --fs-100: clamp(0.8rem,2vw, 1.5rem);
    --fs-200:1.25rem;
}

/* Impressum/Datenschutz*/

h2 {
    font-size: 2rem;
    font-family: "Futura";
    color: var(--clr-primary-100);
    font-weight: 300;
}

h3 {
    font-size: 1.8rem;
    font-family: "Futura";
    color: var(--clr-primary-200);
    font-weight: 300;
}

h4 {
    font-size: 1.6rem;
    font-family: "Futura";
    color: var(--clr-primary-200);
    font-weight: 300;
    

}

h5 {

    font-family: var(--ff-primary);
    font-weight:400;
    color: var(--clr-primary-200);
    font-size: 1.5rem;
    


}




 

body {
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
   
  
}

p {
    font-family: var(--ff-primary);
    font-weight:400;
    color: var(--clr-primary-200);
    font-size: var(--fs-50);
    line-height: 3rem;

}



nav {
    background-color: var(--clr-primary-100);
    margin: auto;
    height: 70px;
    width: 100%;
    position:sticky;
    top: 0;
    display: flex;
    z-index: 20;
   
    
}

.navpic{
    display:none;
}



.linkd {
    font-family: var(--ff-primary);
    font-weight:400;
    font-size: var(--fs-50);
    line-height: 3rem;
    color: white;
   margin: auto;
   flex-direction: column;
   font-size: var(--fs-100);
   font-weight: 400;
  
}

nav a:hover {
    color: var(--clr-primary-50);
}

.linkf {
    font-family: var(--ff-primary);
    font-weight:400;
    font-size: var(--fs-50);
    line-height: 3rem;
    color: white;
   margin: auto;
   flex-direction: column;
   font-size: var(--fs-100);
   font-weight: 400;

}

footer a:hover {
    color: var(--clr-primary-50);
}



/*burger-menu*/

.ctburger {
    display:none;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0.5rem;
}

.menu-btn {
  cursor: pointer;
  margin: 10px;
  width:fit-content;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 2;
  
}

.btn-line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  z-index:1;
}

.menu {
    width:100%;
    height: fit-content;
    background-color: var(--clr-primary-100);
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index:2;
    display:none;
}

ul {
    width: fit-content;
}

.linkm {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    color: white;
}

.linav {
    margin-left: 1rem;
    list-style-type: none;
}










/*Herosection*/


.Hero {
    width:100%;
    height: 100%;
    margin: auto;
    max-height: 800px;
    object-fit: cover;
    grid-area: 1/1;
  
    
}

#HeroContainer {
    display: grid;
   align-items: end;
   height: 60%;
   overflow: hidden;
   
}



.LogoSchriftmarke {
    min-width: 30%;
    max-width: 40%;
    max-height: 300px;
    
}

.Border-radius {
    grid-area: 1/1;
    background-color: white;
    width: 100%;
    height: 2rem;
    border-radius: 30px 20px 0px 0px;
   
    
}

/*Willkommens Section*/

h1 {
    font-size: var(--fs-xl);
    font-family: "Futura";
    color: var(--clr-primary-200);
    font-weight: 300;

}






.Text1 {
    width: 60%;
    margin: 5%;
    overflow: hidden;
}

.TextGeschichte1 {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

.TextGeschichte2 {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    overflow: hidden;
}


.willkommen {
display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
}



.Bild2 {
   
    position:static;
    width: 50vw;
    right: 0%;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;

   
    
}

.slider{
    
    width: 100%;
    Max-width: 2000px;
    margin:auto;
    overflow: hidden;
    margin-inline: auto;
}

.slider img{
    width:100%;
    display: none;
   
}

img.displaySlide{
    display:block;

}

.slider button{
    position: flex;
    font-size: 2rem;
    background-color: var(--clr-primary-100);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    margin: 2rem;
}

.SliderButtons {
    display:flex;
    gap: 20%;
    align-items: center;
    justify-content: center;
}

.bildrund {

    width:20%;
}

.containerimg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    overflow: hidden;
    margin-bottom: 3rem;
}

.overlap {

    background-color: var(--clr-primary-50);
    width: 45rem;
    max-width: 100%;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    margin-top: 2rem;
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    z-index: 3;
    justify-self: end;
    overflow: hidden;
    


}

.overlap p::first-line{
    font-size: var(--fs-xl);
    font-family: "Futura";
    font-weight: 300;
}

.textgreen {
    font-family: var(--ff-primary);
    font-size: var(--fs-50);
    color: var(--clr-primary-300);
    margin: 3rem;
    
}

.laden {

    width: 100%;
    margin-top: 10rem;
    grid-row: 2 / 10;
    grid-column: 1 / 2;
    z-index: 1;
    overflow: hidden;

}

.overlapgroß {

    
    background-color: var(--clr-primary-50);
    width: 100%;
    right:0px;
    border-radius: 60px;
    grid-row: 8 / 14;
    grid-column: 1 / 2;
    z-index: 2;
    overflow: hidden;
   
}

svg {
     
    width: 25px;
    min-width: 25px;
    margin: 1rem;
    
}
.containerwerkzeug {

    display:flex;
    justify-content: space-around;

}


.werkzeug {
    width: 15vw;
    max-width: 250px;
    margin-top: 3rem;
    margin-bottom: 5rem;
   
}

.services {
    display: flex;
    align-items: center;
    font-size: var(--fs-service);
    font-family: "Futura";
    color: var(--clr-primary-300);

}

.containerservice {
    display: flex;
    justify-content: space-around;
}


.overlapgroß p::first-line{
    font-size: var(--fs-xl);
    font-family: "Futura";
    font-weight: 300;
    overflow: hidden;
}

.overlapgroßbehind {
    z-index: 1;
    grid-row: 10 / 10;
    grid-column: 1 / 2;
    width: 100%;
    background-color: none;
    visibility: hidden;
    overflow: hidden;
}

.werkstatt {
    width: 100%;
    grid-row: 12/19;
    grid-column: 1 / 2;
    z-index:1;
    
}

.container {

    display: grid;
    grid-template-rows: repeat(20 fr);
    grid-template-columns: 1fr;
    width: 100%;
    overflow: hidden;
    
}

/*Section Verbunpartner*/

#verbundpartner {
    background-color: var(--clr-primary-100);
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    z-index: 3;
    grid-row: 18/20;
    grid-column: 1 / 2;
    place-self: center;


}

#verbundpartner h1 {
    color: white;
    margin: 2rem;
}



.ctvb {
    display: flex;
    justify-content: space-between;
  
}


.einteilunglinks {
    width: 35%;
}

.einteilunglinks:first-child {

    margin-top: 4rem;
}


.logolinks {
    width: 100%;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.291);
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}

.logolinks:hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
}

.logolinks:not(:hover) {
    transform: scale(1);
    transition-duration: 0.8s;
}

.einteilungrechts {
    width: 35%;
    margin-bottom: 5rem;
}

.logorechts1 {
    width: 100%;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.291);
    margin-top: 13rem;
    margin-bottom: 3rem;
}


.logorechts {
    width: 100%;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.291);
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.logorechts:hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
}

.logorechts:not(:hover) {
    transform: scale(1);
    transition-duration: 0.8s;
}

.logorechts1:hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
}

.logorechts1:not(:hover) {
    transform: scale(1);
    transition-duration: 0.8s;
}





li {
    font-family: var(--ff-primary);
    font-weight:400;
    color: var(--clr-primary-200);
    font-size: var(--fs-50);
    line-height: 3rem;
    margin-left: 5rem;
   
}

a {
    text-decoration: none;
    color: var(--clr-primary-200)
}

a:hover {
    color:var(--clr-primary-100);
}



.kontakt {

    display: grid;
    grid-template-rows: repeat(20 fr);
    grid-template-columns: 1fr;
    width:100%;

}

.gruppenfoto {

    width: 70%;
    grid-row: 1/10;
    grid-column: 1 / 2;
    z-index: 5;
    justify-self: end;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;

}
.backgroundcolor {
    background-color: var(--clr-primary-50);
    grid-row: 5 / 10;
    grid-column: 1 / 2;
    height: 300px;
    overflow: hidden;
}

#ctkontakt {

    background-color: var(--clr-primary-50);
    grid-row: 10 / 20;
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-around;
    overflow: hidden;


}

footer {
    background-color: var(--clr-primary-100);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
footer p {
    color: white;
    font-size: var(--fs-100);
    font-weight: 400;
    margin: 2rem;
   
}

.kontaktrechts p {
    margin: 3rem;
    color: var(--clr-primary-300);
  
}



.kontaktlinks p {
    margin: 3rem;
    color: var(--clr-primary-300)
}

.kontaktrechts p::first-line{
    font-size: var(--fs-xl);
    font-family: "Futura";
    font-weight: 300;
}

.kontaktlinks p::first-line{
    font-size: var(--fs-xl);
    font-family: "Futura";
    font-weight: 300; 
}

.kontaktlinks p::e{
    font-size: var(--fs-xl);
    font-family: "Futura";
    font-weight: 300; 
}   

#mail {
    color: var(--clr-primary-300);
}

#mail:hover {
    color:var(--clr-primary-100);
}

@media (max-width: 700px) {

    .navpic{
        display: block;
        max-height: 45px;
        margin: 0.5rem;
    }
   
   
    .Text1 {
    width: 90%;
   }

   .TextGeschichte1 {
    width: 80%;
   }
   
    .Bild2 {
    display: none;
   }

   .linkd {
    display: none;
   }

   p {
    font-size: 1rem;
    line-height: 1.5rem;
   }

   .slider button {
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
   }

   .containerimg {
    display: block;
    
  
   }

   .bildrund {
    width: 70%;
 margin-left: 15%;
 margin-right: 15%;
 margin-top: 2rem;
   }

   .overlap {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    width:100%;
   }
   .containerservice {
    display: block;
   }
   .overlapgroß {
    grid-row: 9 / 13;

   }


#verbundpartner {
width:auto;
height: 50px;
}

.ctvb {
    display: block;
}

li {
    font-size: 1rem;
    line-height:1.5rem;
}

.logorechts {
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border-top-right-radius: 100px;
   border-bottom-right-radius: 100px;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.logorechts1 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;    
}

.logolinks {
    margin-top: 2rem;
    margin-bottom: 2rem; 
}

.einteilunglinks {
    width: 70%;
}

.einteilungrechts {
    width: 70%;
}

.backgroundcolor{
    height: 100px;
}

.gruppenfoto {
    width: 100%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

#ctkontakt {
    display: block;
}

.ctburger {
    display:grid;
}

nav {
    height:fit-content;
}

}

@media (max-width: 400px){
    .overlapgroß {
        grid-row: 9 / 13;
        
       }
}




@media (min-width: 1000px) {
    .menu-btn {
        display: none;

       }

       .overlapgroß {
        padding-top: 3rem;
        padding-bottom: 3rem;
       }
 
}

@media (max-width: 1000px) {
    .TextGeschichte1 {
        width: 80%;
       }

    .Bild2 {
        display: none;
}

.Text1 {
    width: 80%;
}

.backgroundcolor {
    height: 150px;
}

.overlapgroß {
    padding-top: 3rem;
    padding-bottom: 3rem;
   }

}


















